body {
	width: 100%;
	height: 100%;
	background-color: white;
	font-family: Helvetica;
}

header {
	width: 100%;
	height: 60px;
}

#header {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	display: inline-block;
}

#twitter-icon {
	background-image: url(../img/twitter.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50px 50px;
	width: 35px;
	height: 30px;
	display: inline-block;
	margin-top: 10px;
} 

h1.header{
	font-size: 20px;
	margin-top: -40px;
}

h2.header{
	font-size: 20px;
}

section#user-data{
	clear: both;
	width: 100%;
	background-color: lightsteelblue;
	border-top: solid 5px black;
	border-bottom: solid 5px black;
	box-shadow: 0px 8px 8px darkgrey;
}

#wrapper {
	width: 700px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
}

#user-info{
	float: left;
	margin-left: 20px;
}

#user-data img {
	float: left;
	height: 210px;
	width: auto;
	margin: 20px;
	border-radius: 1em;
}

#tweetbox {
	width: 900px;
	max-height:500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 1em;
	border: inset darkgrey;
	overflow: auto;
}

ul {
	list-style: none;
}

li {
	width: auto;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom: 1px darkgrey inset;
}