body {
	width: 100%;
	height: 100%;
	background-image: url(../img/main.png);
	font-family: 'Lato', sans-serif;
}

header {
	width: 100%;
	height: 58px;
	background-color: rgb(0,0,0);
}

#header {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	display: inline-block;
}

#twitter-icon {
	background-image: url(../img/twitter.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50px 50px;
	width: 35px;
	height: 30px;
	display: inline-block;
	margin-top: 10px;
} 

h1.header{
	font-size: 32px;
	margin-top: -40px;
	margin-left: 10px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

h2.header{
	font-size: 12px;
	margin-left: 10px;
	margin-right: 180px;
	color: white;
	font-family: 'Lato', sans-serif;
}

#search-username{
	display: block;
	margin-top: -55px;
	margin-left: 500px;
}

#search {
	height: 25px;
	margin-top: 3px;
	border-radius: 7px;
	color: rgb(0,191,255);
	border: 1px solid #006; 
}

#search-submit {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #287ace;
}#search-submit:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}#search-submit:active {
	position:relative;
	top:1px;
}

h1 {
	font-size: 100px;
	margin-left: -50px;
	margin-top: 55px;
}

section#user-data{
	clear: both;
	width: 100%;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.7);
	border-bottom: 1px solid rgba(0,0,0,0.3);
	background-image: url(../img/bg.png);
}

#wrapper {
	width: 700px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
}

#user-info{
	float: left;
	margin-left: 20px;
	color: white;
}

a {
	text-decoration: none;
	color: rgb(150,150,150);
	-ms-transition: color 0.3s ease-out;
	-webkit-transition: color  0.3s ease-out;
          -o-transition: color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out;
             transition: color 0.3s ease-out;
}

a:hover {
	color: deepskyblue;
}

#name {
	margin-top: 40px;
	display: inline-block;
	font-size: 28px;
}

#website {
	display: inline-block;
	margin-left: 20px;
}

#location {
	margin-top: -20px;
}

#description {
	width: 350px;
}

#follower {
	display: inline-block;
}

#follows {
	display: inline-block;
	margin-left: 25px;
}


#user-data img {
	float: left;
	height: 60px;
	width: auto;
	margin: 20px;
	margin-top: 40px;
	margin-right: 0px;
	border-radius: 1em;
	border: 3px solid white;
}

#tweetbox {
	width: 90%;
	max-width: 850px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	margin-top: 50px;
	margin-bottom: 20px;
	border-radius: 1em;
	border: 6px solid rgba(0,191,255,0.5);
	overflow: auto;
	background-color: rgba(220,220,220,0.5);
	box-shadow: 0px 5px 30px rgb(0,0,0);}

ul {
	list-style: none;
}

li {
	width: auto;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom: 1px dotted rgb(0,191,255);
}